.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  justify-items: center;
}

/* Adjust the card styling */
.dashboard-card {
  background-color: #1976d2 !important; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-card:hover {
  background-color: #0f3c5f !important;
  transform: translateY(-5px);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1rem;
}

.card-count {
  background-color: #2887d0 ;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 26px;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 1.17rem;
  font-weight: 700;
}